{% extends 'emails/base.html' %}

{% block content %}
<div class="email-container">
    <div class="header">
        <h1>PASSWORD RESET</h1>
    </div>

    <div class="content" style="padding: 20px;">
        <h4>Hello {{user.first_name}} {{user.last_name}},</h4>

        <p>We have received a request to reset your password for your account at <strong>MuniRIF MS</strong>. If you did not initiate this request, please ignore this email.</p>

        <p>To reset your password, please follow the link below:</p>

        <p style="text-align: center;">
            <a class="button" href="{{client_address}}/index/account/password/set/{{token}}">Reset Password</a>
        </p>

        <p>If the button above doesn't work, copy and paste the following URL into your browser:</p>
        <p class="link">{{client_address}}/index/account/password/set/{{token}}</p>

        <p>Please note that this link is valid for a limited time and can only be used once. If you didn't request a password reset, no action is required on your part.</p>

        <p>If you have any questions or need further assistance, please contact our support team via this email.</p>

        <p>Best regards,<br>
        <strong>The MuniRIF MS Team</strong></p>
    </div>
</div>
{% endblock %}