<!DOCTYPE html>
<html>
<head>
    <title>{{ subject }}</title>
</head>
<body>
    <p>Hello {{user.first_name}} {{user.last_name}}</p>
    <p>We have received a request to reset your password for your account at MuniRIF MS. If you did not initiate this request, please ignore this email.</p>
    <p>To reset your password, please follow the link below:</p>
    <a href='{{client_address}}/account/password/set/{{token}}'>Reset Password</a>
    <p>{{client_address}}/account/password/set/{{token}}</p>

    <p>If the above link doesn't work, copy and paste the following URL into your browser's address bar:</p>
    <p>
        Please note that this link is valid for a limited time and can only be used once. If you didn't request a password reset, no action is required on your part. If you have any questions or need further assistance, please contact our support team on this email.
    </p>
    <div>
    <p>Best regards,</p>
    <p>The MuniRIF MS Team</p>
    </div>
</body>
</html>