{% extends 'emails/base.html' %}

{% block style %}
<style>
    .table {
        width: 100%;
        border-collapse: collapse;
    }

    .table th, .table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .table th {
        background-color: #f2f2f2;
    }
</style>
{% endblock %}

{% block content %}
<div class="email-container">
    <div class="header">
        <h1>PROPOSAL SCREENED</h1>
    </div>

    <div class="content" style="padding: 20px;">
        <p>Hello {{user.first_name}} {{user.last_name}},</p>
        <p>Your proposal for the project <strong>{{proposal.title}}</strong> has been screened.</p> 
        {% if proposal.is_recommended %}
            <p>
                Your proposal has been recommended for further review.
            </p>
        {% else %}
            <p>Unfortunately, your proposal did not meet the screening criteria. Please review the feedback provided below.</p>
        {% endif %}
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Section</th>
                        <th>Score</th>
                        <th>Commnet</th>
                    </tr>
                    {% for section in data %}
                    <tr>
                        <td>{{section.name}}</td>
                        <td>{{section.score}}</td>
                        <td>{{section.comment}}</td>
                    </tr>
                    {% endfor %}
                </thead>
            </table>

        </div>
        <p>Best regards,<br>
        <strong>The MuniRIF MS Team</strong></p>
    </div>
</div>
{% endblock %}