{% extends 'emails/base.html' %}

{% block content %}
<div class="email-container">
    <div class="header">
        <h1>PROPOSAL SELECTED</h1>
    </div>

    <div class="content" style="padding: 20px;">
        <h4>Hello {{proposal.user.first_name}} {{proposal.user.last_name}},</h4>
        <p>Congratulations! Your proposal, <strong>({{proposal.title}})</strong> has been selected.</p> 
        <p style="text-align: center;">
            <a href="{{client_address}}" class="button">View Proposal</a>
        </p>
        <p>Best regards,<br>
        <strong>The MuniRIF MS Team</strong></p>
    </div>
</div>
{% endblock %}