{% extends 'emails/base.html' %}

{% block content %}
<div class="email-container">
    <div class="header">
        <h1>NEW PROPOSAL</h1>
    </div>

    <div class="content" style="padding: 20px;">
        <h4>Hello {{user.first_name}} {{user.last_name}},</h4>
        <p>A new proposal has been submitted by <strong>{{proposal.user.first_name}} {{proposal.user.last_name}}</strong> for the project <strong>{{proposal.title}}</strong>.</p> 
        <p style="text-align: center;">
            <a href="{{client_address}}" class="button">Review</a>
        </p>
        <p>Best regards,<br>
        <strong>The MuniRIF MS Team</strong></p>
    </div>
</div>
{% endblock %}