{% extends 'emails/base.html' %}

{% block content %}
<div class="email-container">
    <div class="header">
        <h1>REVIEW INVITATION</h1>
    </div>

    <div class="content" style="padding: 20px;">
        <h4>Hello {{user.first_name}} {{user.last_name}},</h4>
        <p>You have been invited to review a proposal at MuniRIF MS.</p>
        <p>To accept this invitation, please follow the link below:</p>

        <p style="text-align: center;">
            <a class="button" href='{{client_address}}/index/account/signin?_next=/proposal-reviews/{{proposal.id}}' target="_blank">Accept Invitation</a>
        </p>

        <p>{{client_address}}/index/account/signin?_next=/proposal-reviews/{{proposal.id}}</p>
        
        <p>If the above link doesn't work, copy and paste the following URL into your browser's address bar:</p>
        
        <p>
            Please note that this link is valid for a limited time and can only be used once. For more information, please contact our support team on this email.
        </p>

        <div>
            <p>Best regards,</p>
            <p>The MuniRIF MS Team</p>
        </div>
    </div>
</div>
{% endblock %}