{% load static %}

<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<title>Functionality Documentor</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mdb.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
</head>

<body>
	{% include 'index/nav-bar.html' %}
	{% include 'index/alert.html' %}
	{% block body %}
	{% endblock %}
	<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
</body>

</html>